﻿<div>
    <div id="resources">
        <div data-type="string" data-name="root|pageModule">Rubricator</div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="monitorRubricPath" data-type="string">
            Кадровое дело/
            Прием на работу/
            Общие документы/
            Заявления, справки/
        </div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="rubricatorHTML" data-type="html">
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <!-- НАЧАЛО -->
                    <div class="b-scroller__container">
                        <h3 class="b-rubricator-list__title-rubric">
                            <span class="b-rubricator-list__title-text">Кадровое дело</span>
                        </h3>
                        <ul class="b-list b-list_type_rubricator ">
                            <li class="b-list__item">
                                <a class="b-link b-link_state_active" href="/#/rubric/7/74/482"><span>Прием на работу</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/787"><span>Договоры</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/490"><span>Трудовая книжка</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/789"><span>Трудовые отношения с сотрудником</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/2624"><span>Выплаты персоналу</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/468"><span>Увольнение</span></a>
                            </li>
                            <li class="b-list__item">
                                <a class="b-link " href="/#/rubric/7/74/783"><span>Кадровый документооборот</span></a>
                            </li>
                        </ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Охрана труда </span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/786"><span>Организация работ по охране труда</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/794"><span>Обучение и аттестация по охране труда</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/796"><span>Медосмотры</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/798"><span>Несчастные случаи и профзаболевания</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6383"><span>Инструкции по охране труда</span></a></li></ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Управление персоналом</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4413"><span>Подбор</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/5821"><span>Мотивирование</span></a></li></ul><ul class="b-list b-list_type_rubricator b-list_type_rubricator-multigroup"><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4447"><span>Памятки сотрудникам</span></a></li></ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Должностные инструкции</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6344"><span>Шаблоны</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/621"><span>Управление организацией</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/626"><span>Секретариат, канцелярия, архив, библиотека</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1117"><span>Бухгалтерия, финансы, аудит, экономика</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1221"><span>Финансовая деятельность</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/632"><span>Юридическая служба</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/639"><span>Кадровая служба</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6117"><span>Охрана труда</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/647"><span>Административно-хозяйственная служба (АХО)</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/645"><span>Служба информационных технологий (IТ)</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/663"><span>Производственно-технические службы</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/641"><span>Реклама, маркетинг и связи с общественностью (PR)</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4652"><span>Рекламно-оформительские, макетные и реставрационные работы</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1151"><span>Издательская и полиграфическая деятельность</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1306"><span>Телевидение, радиовещание, киностудии, кинотеатры, театры</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1208"><span>Транспорт</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1219"><span>Туризм</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/653"><span>Охрана и служба безопасности</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6384"><span>Научно-исследовательские, проектные, конструкторские, технологические и изыскательные организации</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4505"><span>Служба по связям с инвесторами</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1289"><span>Управление качеством</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1483"><span>Экспертиза, оценка, контроль</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1481"><span>Охрана окружающей среды</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/686"><span>Сельское хозяйство, охота, лесное хозяйство, рыболовство и рыбоводство</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6400"><span>Геология, разведка недр, топография, геодезия</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/731"><span>Добыча и переработка полезных ископаемых</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1408"><span>Металлургия</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1034"><span>Обрабатывающие производства</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1174"><span>Строительство</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4120"><span>Судостроение и судоремонт</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/5221"><span>Связь</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1184"><span>Торговля, общественное питание, гостиницы и общежития</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1238"><span>Предоставление прочих коммунальных, социальных и персональных услуг</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6299"><span>Производство пищевых продуктов и напитков</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1267"><span>Здравоохранение и ветеринарные услуги</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1229"><span>Операции с недвижимым имуществом, аренда и предоставление услуг</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4029"><span>Образование</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/4580"><span>Физическая культура и спорт</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6340"><span>Ракетно-космическая промышленность</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6391"><span>Атомная энергетика, промышленность и наука</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6427"><span>Гидрометеорологическая служба</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/5754"><span>Электроэнергетика</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/1166"><span>Производство и распределение электроэнергии, газа и воды</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/3856"><span>Прочие</span></a></li></ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <div class="b-scroller__container">
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Общие документы</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link b-link_state_active" href="/#/rubric/7/74/6353"><span>Заявления, справки</span></a></li></ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Приказ о приеме на работу</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6351"><span>Типовая форма</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6352"><span>Образцы заполнения</span></a></li></ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Специальные документы</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6350"><span>Прием руководителя</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6349"><span>Прием бывшего госслужащего</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6348"><span>Прием подростка</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6346"><span>Прием иностранца</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6347"><span>Прием осужденного к исправительным работам</span></a></li></ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <div class="b-scroller__container">
                        <h1 class="b-rubricator-content__title">Заявления, справки</h1><ul class="b-list b-list_type_rubricator-content"><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/20471/">О приеме на работу</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24537/">О том, что сотрудник работал на государственной или муниципальной службе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24503/">О том, что сотрудник не состоял на государственной или муниципальной службе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/20470/">Об оформлении пенсионного свидетельства</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/17101/">Приказ о фактическом допуске к работе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/11916/">Соглашение об испытании. Сотрудник допущен к работе без оформления трудового договора</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24202/">Справка о подтверждении работы по совместительству</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/23735/">Справка о характере и условиях труда по основному месту работы</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/12599/">Уведомление соискателю о причине отказа в заключении трудового договора</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/23900/">Заявление гражданина в Пенсионный фонд РФ об отказе от финансирования накопительной части трудовой пенсии</a></li></ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
