﻿<div>
    <div id="resources">
        <div data-type="string" data-name="root|pageModule">Rubricator</div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="monitorRubricPath" data-type="string">
            Общие документы/
            Заявления, справки/
        </div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="rubricatorHTML" data-type="html">
            <!-- НАЧАЛО -->
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <div class="b-scroller__container">
                        <h3 class="b-rubricator-list__title-rubric">
                            <span class="b-rubricator-list__title-text">Общие документы</span>
                        </h3>
                        <ul class="b-list b-list_type_rubricator ">
                            <li class="b-list__item"><a class="b-link b-link_state_active" href="/#/rubric/7/74/6353"><span>Заявления, справки</span></a></li>
                        </ul>
                        <h3 class="b-rubricator-list__title-rubric">
                            <span class="b-rubricator-list__title-text">Приказ о приеме на работу</span>
                        </h3>
                        <ul class="b-list b-list_type_rubricator ">
                            <li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6351"><span>Типовая форма</span></a></li>
                            <li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6352"><span>Образцы заполнения</span></a></li>
                        </ul>
                        <h3 class="b-rubricator-list__title-rubric"><span class="b-rubricator-list__title-text">Специальные документы</span></h3><ul class="b-list b-list_type_rubricator "><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6350"><span>Прием руководителя</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6349"><span>Прием бывшего госслужащего</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6348"><span>Прием подростка</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6346"><span>Прием иностранца</span></a></li><li class="b-list__item"><a class="b-link " href="/#/rubric/7/74/6347"><span>Прием осужденного к исправительным работам</span></a></li></ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <div class="b-scroller__container">
                        <h1 class="b-rubricator-content__title">Заявления, справки</h1><ul class="b-list b-list_type_rubricator-content"><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/20471/">О приеме на работу</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24537/">О том, что сотрудник работал на государственной или муниципальной службе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24503/">О том, что сотрудник не состоял на государственной или муниципальной службе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/20470/">Об оформлении пенсионного свидетельства</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/17101/">Приказ о фактическом допуске к работе</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/11916/">Соглашение об испытании. Сотрудник допущен к работе без оформления трудового договора</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/24202/">Справка о подтверждении работы по совместительству</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/23735/">Справка о характере и условиях труда по основному месту работы</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/12599/">Уведомление соискателю о причине отказа в заключении трудового договора</a></li><li class="b-list__item" data-tocavailable="false"><a class="b-list__item-text b-link" href="/#/document/118/23900/">Заявление гражданина в Пенсионный фонд РФ об отказе от финансирования накопительной части трудовой пенсии</a></li></ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>