﻿<div>
    <div id="resources">
        <div data-type="string" data-name="root|pageModule">Rubricator</div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="monitorRubricPath" data-type="string"></div>
        <div xmlns:local="http://actiondigital.ru/method" xmlns:xs="http://www.w3.org/2001/XMLSchema" data-name="rubricatorHTML" data-type="html">
            <!-- НАЧАЛО -->
            <div class="js-column b-rubricator-list ">
                <div class="b-scroller">
                    <div class="b-scroller__container">
                        <h1 class="b-rubricator-content__title">Типовая форма</h1>
                        <ul class="b-list b-list_type_rubricator-content">
                            <li class="b-list__item" data-tocavailable="false">
                                <a class="b-list__item-text b-link" href="/#/document/140/1022/">Форма № Т-1 (на одного работника)</a>
                            </li>
                            <li class="b-list__item" data-tocavailable="false">
                                <a class="b-list__item-text b-link" href="/#/document/140/1023/">Форма № Т-1а (на нескольких работников)</a>
                            </li>
                            <li class="b-list__item" data-tocavailable="false">
                                <a class="b-list__item-text b-link" href="/#/document/118/9058/">Приказ о внесении дополнительных реквизитов в типовую форму</a>
                            </li>
                        </ul>
                    </div>
                    <div class="b-scroller__track">
                        <div class="b-scroller__bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
